body{
    margin: 0;
}
.container{
    width: 100px;
    height: 100vh;
    overflow: auto;
    background-color: rgb(202, 189, 189);
}
.container a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 20%;
    text-align: center;
}
.container a:hover{
    background-color: aqua;
}
.container .active{
    background-color: blue;
}